<style>
  .vl {
    border-left: 6px solid green;
    height: 50px;
    position: absolute;
    top: 0;
  }
</style>
<div class="row quick-action-toolbar">
  <div class="col-md-12 grid-margin">
    <div class="card">
      <div class="card-header d-block d-md-flex">
        <h5 class="mb-0">welcome {{username}}</h5>
      </div>
    </div>
  </div>
</div>
<div class="row quick-action-toolbar">
  <div class="col-md-12 grid-margin">
    <div class="card">
      <div class="card-header d-block d-md-flex">
        <h5 class="mb-0">Recent Activity</h5>
      </div>
    </div>
  </div>
</div>
<div class="jumbotron">
  <div class="row">
    <div class="col-md-4 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Recipes</h4>
          <button type="button" (click)="addRecipe()" class="btn btn-outline-info btn-lg btn-block">Add
            Recipe</button><br>
          <button type="button" (click)="removeRecipe()" class="btn btn-outline-danger btn-lg btn-block">Remove
            Recipe</button>
        </div>
      </div>
    </div>
    <div class="col-md-4 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Articles</h4>
          <button type="button" (click)="addArticle()" class="btn btn-outline-info btn-lg btn-block">Add
            Articles</button><br>
          <button type="button" class="btn btn-outline-danger btn-lg btn-block">Remove Articles</button>
        </div>
      </div>
    </div>
    <div class="col-md-4 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Category</h4>
          <button type="button" (click)="addCategory()" class="btn btn-outline-info btn-lg btn-block">Add
            Category</button><br>
          <button type="button" class="btn btn-outline-danger btn-lg btn-block">Remove Category</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row quick-action-toolbar">
    <div class="col-md-12 grid-margin">
      <div class="card">
        <div class="card-header d-block d-md-flex">
          <h5 class="mb-0">Quick Actions</h5>
        </div>
        <div class="d-md-flex row m-0 quick-action-btns" role="group" aria-label="Quick action buttons">
          <div class="col-sm-6 col-md-4 p-4 text-center btn-wrapper">
            <button type="button" class="btn btn-success px-0"> <i class="icon-user mr-2"></i> Add Admin</button>
          </div>
          <div class="col-sm-6 col-md-4 p-4 text-center btn-wrapper">
            <button type="button" class="btn btn-warning px-0"><i class="icon-docs mr-2"></i> Active Users</button>
          </div>
          <div class="col-sm-6 col-md-4 p-4 text-center btn-wrapper">
            <button type="button" class="btn btn-info px-0"><i class="icon-folder mr-2"></i> Check Usage</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <table class="table">
      <thead>
        <th>User</th>
        <th>Action Performed</th>
        <th>Performed At</th>
        <th>Status</th>
      </thead>
      <tbody>
        <tr *ngFor="let x of actions; let i = index;">
          <td>{{x.createdBy}}</td>
          <td>{{x.ActionDone}}</td>
          <td>{{x.createdOn}}</td>
          <td>
            <div class="badge badge-success p-2">Success</div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
