<div class="container">
    <div>
        <label>CATEGORY</label>
        <input type="text" placeholder="enter category title" (change)="validateCategoryList()"
            [(ngModel)]="model.categoryName" required>
    </div>
    <div>
        <label for="filePicker">Select image</label><br>
        <input type="file" name="image" id="filePicker" (change)="handleFileSelect($event)">
        <!-- <span *ngIf="!model.isImageUploaded" style="color: red;padding-left: 1.75rem;">{{model.message}}</span> -->
        <!-- <label for="img">Select image:</label>
        <input type="file" id="img" name="img" accept="image/*"> -->
    </div>
    <div class="image-preview mb-3">
        <img  *ngIf="model.isImageUploaded" [src]="model.base64textString" alt="Preview Image" class="image-preview__image" />
        <span class="image-preview__default-text">{{model.message}}</span>
    </div>
    <div>
        <ul class="list-inline">
            <li>
                <button class="btn btn--form" [disabled]="isValidDetails() === false" (click)="addCategory()"  value="ADD" >ADD</button>
            </li>
        </ul>
    </div>
</div>