<h1>ADD Articles</h1>
<!-- <form #ref="ngForm" (ngSubmit)="submitForm(ref.value);"> -->
<div *ngIf="!model.isDataLoaded" style="height: 500px; margin-left: 45%;">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="loader"></div>

</div>
<div *ngIf="model.isDataLoaded">
    <div class="form group">
        <label for="title">Title</label>
        <input class="form-control" type="text" name="title" [(ngModel)]="model.title" id="title" required>
        <label for="category">Category</label>
        <ng-multiselect-dropdown name="category" [data]="model.categoryNameList" [(ngModel)]="model.selectedItems"
            [settings]="model.dropdownSettings" required>
        </ng-multiselect-dropdown>
        <div class="form-group shadow-textarea">
            <label for="description">Description</label>
            <textarea class="form-control z-depth-1" name="description" rows="1" [(ngModel)]="model.description"
                placeholder="give brief description here..." required></textarea>
        </div>
        <div>
            <label>Upload Article Image</label> <br>
            <input type="file" name="image" id="pc" ngModel (input)="getImageFile($event.target.files[0])">
            <span *ngIf="!model.isImageUploaded" style="color: red;padding-left: 1.75rem;">{{model.message}}</span>
        </div>
        <div>
            <label>Content</label>
            <textarea class="form-control z-depth-1" name="content" rows="20" [(ngModel)]="model.content"
                placeholder="write your content here..." required></textarea>
        </div>
        <!-- <label>Content</label>
        <div class="row">
            <div class="col-md-12"> -->
                <!-- <quill-editor required [styles]="{'min-height': '300px','max-height': '300px'}"
                    [(ngModel)]="model.content" [(formControl)]="model.articleContent" [placeholder]="placeholder">
                </quill-editor> -->
                
                <div class="form-group">
                    <label for="author">Author</label>
                    <input class="form-control" type="text" name="author" [(ngModel)]="model.author" id="author"
                        required>
                </div>
            <!-- </div>
        </div> -->
    </div>
</div>
<button type="button" (click)="cancel()" class="btn btn-outline-danger waves-effect">Cancel</button>
<button type="button" (click)="postArticle()" [disabled]="!isFormPopulated() || !model.isDataLoaded"
    class="btn btn-outline-success float-md-right waves-effect">Post</button>

<!-- </form> -->
<!-- </form> -->