<div class="jumbotron">
    <form class="card">
        <img [src]="imageUrl" class="avatar">
        <input type="file" name="photo" id="pc" #fileUploader ngModel (input)="getImageFile($event.target.files[0])">
        <label>Change Photo</label>
        <button (click)="removePhoto()">Remove Photo</button>
        <div class="card-body">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" name="username" (change)="validateUsername()" [(ngModel)]="model.username">
                <span *ngIf="!model.isUsernameValid" style="color: red;padding-left: 1.75rem;">{{model.usernameErrMsg}}</span>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="emailid" (change)="validateEmail()" [(ngModel)]="model.emailid">
                <span *ngIf="!model.isEmailIdValid" style="color: red;padding-left: 1.75rem;">Invalid email
                    address</span>
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="pswd" (change)="validatePassword()" [(ngModel)]="model.password">
                <span *ngIf="!model.isPasswordValid" style="color: red;padding-left: 1.75rem;">Password must contain
                    atleast 8
                    chars
                    with atleast 1 number</span></div>
            <div class="form-group">
                <label for="password-confirm">Confirm Password</label>
                <input type="password" name="confirm pswd" (change)="validateConfirmPassword()"
                    [(ngModel)]="model.confirmPassword">
                <span *ngIf="!model.isPasswordMatched" style="color: red;padding-left: 1.75rem;">Password does not
                    match !!!</span>
            </div>
            <div class="card-footer">
                <button class="success" type="submit" [disabled]="!model.isSaveEnabled" (click)="submitForm()">SAVE</button>
                <button class="danger" (click)="cancel()">CANCEL</button>
            </div>
        </div>
    </form>
</div>