@import '~bootstrap/dist/css/bootstrap.css';
  
  .loader {
      border: 5px solid #f3f3f3; /* Light grey */
      border-top: 5px solid #3498db; /* Blue */
      border-radius: 50%;
      width: 50px;
      height: 50px;
      animation: spin 2s linear infinite;
    }
    
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.my-cursor{
  cursor: pointer;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.container .multiselect-dropdown .dropdown-btn {
  display: inline-block!important;
    width: 78%!important;
    padding: 6px 12px!important;
    margin-bottom: 0!important;
    font-size: 15px !important;
    font-weight: 400!important;
    line-height:2 !important;
    border: 1px solid blue !important;
    text-align: left!important;
    vertical-align: middle!important;
    cursor: pointer!important;
    background-image: none!important;
    border-radius: 4px!important;
}
