<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

</head>

<body>
    <div *ngIf="!model.isDataLoaded" style="height: 500px; margin-left: 45%;">
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <div class="loader"></div>

    </div>
    <div class="jumbotron">
        <div class="container"
            style="background-image: url('https://images.megapixl.com/6827/68279520.jpg');background-size: cover;">
            <br><br> <br><br> <br>
        </div>


        <br>
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 class="display-4 ">What are your favourite cuisines ?</h2>
            </div>
        </div>
        <!--Carousel starts here-->
        <mat-carousel [autoplay]="true" interval="5000" maxWidth="auto" proportion="25" slides={{nums.length}}
            [loop]="true" [hideArrows]="false" [hideIndicators]="true" [useKeyboard]="true" [useMouseWheel]="false"
            orientation="ltr">

            <mat-carousel-slide #matCarouselSlide *ngFor="let slide of nums; let i = index;let l = count;"
                overlayColor="#00000000">
                <div
                    style="width: 100%; height: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center">
                    <div class="row">
                        <div (click)="gotoC(category)"
                            *ngFor="let category of  model.categoryList.slice(i,i+6);let j=index">
                            <div class="col-2"><img style=" width: 150px;
                    height: 150px;
                    -webkit-clip-path: circle(50.0% at 50% 50%);
                    clip-path: circle(50.0% at 50% 50%);" src={{category.imageUrl}}>
                                <span
                                    class="carousel-caption ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{category.name}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-carousel-slide>
        </mat-carousel>
        <!--Carousel ends here-->
        <div>
            <h2>Recipes</h2>
            <a routerLink="/browse" class="float-md-right mr-5">See all</a>
        </div>


        <div class="row card-group">
            <div class="col-4  mb-3 mt-3" *ngFor="let rec of model.recipeList">
                <div class="card mb-3 mt-3" style="width: 30rem;">
                    <img class="card-img-top" src={{rec.profileImage}} alt="Card image cap">
                    <div class="card-desc">
                        <h5 class="recipe-title mt-2">{{rec.recipe}}</h5>
                        <hr style="height:1px;width:75%;">
                        <ul class="recipe-details">
                            <li class="recipe-details-item time ml-5"><i class="ion ion-ios-clock-outline"></i><span
                                    class="value">{{rec.time}}</span><span class="title">Minutes</span></li>
                            <li class="recipe-details-item ingredients"><i class="ion ion-ios-book-outline"></i><span
                                    class="value">{{rec.ingrlist.length}}</span><span class="title">Ingredients</span>
                            </li>
                            <li class="recipe-details-item servings mr-3"><i class="ion ion-ios-heart-outline"></i><span
                                    class="value">{{rec.recipeLikeCount}}</span><span class="title">Likes</span>
                            </li>
                        </ul>
                        <p class="trimtext card-text">{{rec.brief}}</p>
                    </div>
                    <a (click)="gotoR(rec,rec.recipe)" class="button" style="color:white">
                        Check Recipe
                    </a>
                </div>
            </div>
        </div>

        <div>
            <h2>Articles</h2>
            <a routerLink="/articles" class="float-md-right mr-5">See all</a>
        </div>
        <div class="row card-group">
            <div class="col-4 mb-3 mt-3" *ngFor="let article of model.articleDataList">
                <div class="card mb-3 mt-3" style="width: 30rem;">
                    <!-- <img *ngIf="article.imageToDisplay === undefined" class="card-img-top"
                    src="https://images.freeimages.com/images/large-previews/85a/daisy-s-1375598.jpg" width="100" height="100"
                    alt="Card image cap"> -->
                    <img class="card-img-top" [src]="article.imageUrl" alt="article image">
                    <div class="card-desc">
                        <h5 class="trimtext recipe-title mt-2">{{article.title}}</h5>
                        <hr style="height:1px;width:75%;">
                        <ul class="recipe-details">
                            <li class="recipe-details-item ingredients ml-5"><i
                                    class="ion ion-ios-book-outline"></i><span
                                    class="value">{{article.category.length}}</span><span
                                    class="title">Categories</span>
                            </li>
                            <li class="recipe-details-item servings ml-5"><i class="ion ion-ios-heart-outline"></i><span
                                    class="value">{{article.articleLikeCount}}</span><span class="title">Likes</span>
                            </li>
                        </ul>
                        <p class="trimtext" style="text-align: center;">{{article.description}}</p>
                    </div>
                    <a (click)="articleDisplay(article,article.title)" class="button" style="color:white">Read
                        Article</a>
                    <!-- <div class="card-footer">
                    <span *ngIf="article.articleLikeCount>0">
                        <mat-icon style="color:red">favorite</mat-icon>&nbsp;{{article.articleLikeCount}}
                    </span>
                    <span *ngIf="article.articleLikeCount == 0">
                        <mat-icon>favorite_border</mat-icon>
                    </span>
                </div> -->
                </div>
            </div>
        </div>

    </div>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>

</html>
