.trimtext {
    display: block;
    display: -webkit-box;
    max-width: 200px;
    height: 40px;
    margin: 0 auto;
    line-height: 1.2;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.rounded-pill-left {
    border-top-left-radius: 50rem !important;
    border-bottom-left-radius: 50rem !important;
}

.rounded-pill-right {
    border-top-right-radius: 50rem !important;
    border-bottom-right-radius: 50rem !important;
}

/* Another classes to use */
.rounded-t-l-0 {
    border-top-left-radius: 0 !important;
}

.rounded-t-r-0 {
    border-top-right-radius: 0 !important;
}

.rounded-b-l-0 {
    border-bottom-left-radius: 0 !important;
}

.rounded-b-r-0 {
    border-bottom-right-radius: 0 !important;
}

.rounded-x-l-0 {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.rounded-x-r-0 {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.checked {
    color: orange;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
    box-shadow: 0px 0px 130px 0 rgba(0, 0, 0, 0.38);
}

html {
    box-sizing: border-box;
  }
  
  body {
    background: var(--bodyBg);
    font-family: var(--bodyFont);
    color: var(--textColor);
    line-height: 1.5;
  }
  
  * {
    box-sizing: inherit;
  }
    
  a {
    color: inherit;
    text-decoration: none;
  }
  
  .recipe-title {
    font-family: var(--headlinesFont);
    text-align: center;
    font-weight: 600;
  }

  .recipe-details {
  
    display: flex;
    list-style: none;
    padding: 1.4em 0 1em;
    margin: 0;
    justify-content: space-between;
  }
  
  .recipe-details .recipe-details-item {
    flex: 1;
  }
  
  .recipe-details .recipe-details-item i {
    font-size: 30px;
  }
   .recipe-details .recipe-details-item .value {
    color: #e22a69;
    margin-left: .35em;
    vertical-align: bottom;
    font-size: 24px;
    font-weight: 600;
  }
  
  .recipe-details .recipe-details-item .title {
    display: block;
    margin-top: -4px;
    font-family: var(--headlinesFont);
    font-size: 21px;
    font-weight: 300;
  }
  .button {
    background-color: #e22a69; /* Green */
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 25%;
    margin-bottom: 10%;
    cursor: pointer;
    padding: 14px 40px;
  }