.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
.profile-header {
    transform: translateY(5rem);
}

.jumbotron {
    background: #F6F0EA;
    background: -webkit-linear-gradient(to right, #F6F0EA, #F1DFD1 );
    background: linear-gradient(to right, #F6F0EA, #F1DFD1 );
    min-height: 100vh;
}

.backgr {
    background: #654ea3;
    background: -webkit-linear-gradient(to right, #654ea3, #eaafc8);
    background: linear-gradient(to right, #654ea3, #eaafc8);
}
